@charset "UTF-8";
/* CSS Document */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #635050;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    color: white;
    padding: 0 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-item > a {
    text-decoration: none;
    color: white;
}

.welcome-section {
    background-color: navy;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: white;
}

h2 {
    font-size: 3.4rem;
    font-style: italic;
    color: lightgray;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .nav {
        flex-direction: column;
        height: 100px;
    }
    
}

.project-main {
    width: 100%;
}

.project-title {
    padding-top: 100px;
    padding-bottom: 100px;
}

.project-title > h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-tile {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-image {
    width: 100%;
    object-fit: cover;
}

.project-text {
    color: white;
    background-color: darkblue;
    font-size: 2rem;
    text-align: center;
    height: 75px;
    line-height: 75px;
}

.profile-button {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.profile-button > a {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #BFB9B9;
    background-color: rgba(4,18,126,0.69);
}



